extends ../../layouts/base

block styles
  link(rel="stylesheet", type="text/css", href="/build/editor/styles/font-awesome.css")
  link(rel="stylesheet", type="text/css", href="/build/editor/styles/simditor.css")

block body
  .container.doc-editor
    form.js-doc-form(method='post', action='/collections/#{ctx.params.collectionId}/docs' + (locals.doc ? '/' + doc.UUID : ''))
      input.doc-editor__title(type="text", name="title", placeholder="标题", value=locals.doc ? doc.value : '')
      textarea.doc-editor__content.js-doc-editor(placeholder="这里输入内容", autofocus)=locals.doc ? doc.content : ''
      .doc-editor__toolbar
        button(type="submit").button.button--success 保存

block scripts
  script.
    var doclab = {
      ssl: #{config.site.ssl ? 'true' : 'false'},
      host: "#{config.site.host}",
      UUID: !{locals.doc ? '"' + locals.doc.UUID + '"' : 'false'},
      parentUUID: !{req.query.parentUUID ? '"' + req.query.parentUUID + '"' : 'false'}
    };
  script(src='/build/scripts/editor.js')
