extends ../../layouts/main
block content
  .l-main-content
    .container
      aside.news
        header
          h2 News
        p Me: #{me.name} Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name} Me: #{me.name}
        p Me: #{me.name} Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name} Me: #{me.name}
        p Me: #{me.name} Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name} Me: #{me.name}
        p Me: #{me.name} Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name} Me: #{me.name}
        p Me: #{me.name} Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name}Me: #{me.name} Me: #{me.name}
